torch==1.8.1
torchvision==0.9.1
audioengine==0.1.0
tqdm==4.49.0
setuptools==45.2.0
transformers==4.5.1
pandas==1.2.3
tensorflow==2.4.1
swifter==1.0.7
jiwer==2.2.0
datasets==1.6.2
librosa==0.8.0
SoundFile==0.10.3.post1
numpy==1.19.5
pydub==0.25.1
sklearn==0.0
scikit-learn==0.24.2
torchaudio==0.8.1
pyarrow==1.0.0
wandb==0.10.28
pysndfx==0.3.6
pandarallel==1.5.2