torch==1.8.1+cu111
torchvision==0.9.1+cu111
audioengine==0.1.0
tqdm==4.49.0
setuptools==56.0.0
transformers==4.5.0
pandas==1.2.3
tensorflow==2.4.1
swifter==1.0.7
jiwer==2.2.0
datasets==1.5.0
librosa==0.7.2
SoundFile==0.10.3.post1
numpy==1.19.5
pydub==0.25.1
sklearn==0.0
scikit-learn==0.24.1
torchaudio==0.8.1